    ====|Request Fields
        |===
        |Path:Type:Optional:Description


    {{#fields}}

        |{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
        |{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
        |{{#tableCellContent}}{{#optional}}0{{/tableCellContent}}
        |{{#tableCellContent}}{{description}}{{/tableCellContent}}

    {{/fields}}

        |===